body{
    /* background-color: #222222; */
    color: #e2e2e2;
}
.md-nav-bar{
    border: none;
}

a{
    color: #7777ad;
}

body.md-toast-animating{ overflow: visible!important }

.menuButtons, .toastClass{
    position: fixed!important;
}

.three {
    width:  100%;
    height: 50%;
    margin: 0 auto;
    position: relative;
}
.three canvas{
    width:  100% !important;
}

.three .fullscreenBtn{
    position: absolute;
    top: 10px;
    right: 30px;
    width: 60px;
    height: 60px;
}
.three .fullscreenBtn md-icon{
    width: 48px;
    height: 48px;
}

.saturate{
    filter: saturate(3);
}

.itemBox{
    /* background-color: #28292b; */
    /* overflow-x: auto;
    overflow: hidden; */
    padding-top: 3px;
    /* padding-bottom: 10px; */
    /* height: 79px;
    border:2px solid #5a5856;
    fill: currentColor!important; */
}

.itemBox .saturate{
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    position: relative;
    cursor: grab;
    height: 50px;
    width: 50px;
    z-index: 999;
}

.avatar{
    text-transform: full-width;
    text-align: start;
    background-color: #5a5856;
    padding: 1em;
}
.avatar img{
    width: 12em;
    height: 12em;
    border-radius: 50%;
}

.customBtnTrigger{
    margin: 0;
    min-width: 55px!important;
}

.customContainer{
    overflow-x: auto;
}
.customContainer > .flex{
    min-width: 250px;
}

.customBox{
    background-color: #28292b;
    height: 200px;
    width: 200px;
}

.customBox canvas{
    border:2px solid #5a5856;
    border-style: dashed;
}

.cubeSection, .cubeScene, .cubeHome{
    width:100%;
    position:relative;
    -webkit-perspective:1200px;
    -moz-perspective:1200px;
    -o-perspective:1200px;
    perspective:1200px;
}

.cubeSection{    
    height:57px;
    margin:0 auto 10px;
}
.cubeScene{    
    height:50vh;
    margin:0 auto 0;
}
.cubeHome{    
    height:40vh;
    margin:0 auto 0;
}

#cubeContainer{
    height:100%;
    width:100%;
    position:relative;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
}

#cube,#cube figure{
    position:absolute;
    height:100%;
    width:100%;
}
#cube figure{
    font-size:14px;
    text-align:center;
}


#cube{
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-transition:-webkit-transform 1s;
    -moz-transition:-moz-transform 1s;
    -o-transition:-o-transform 1s;
    transition:transform 1s
}

#cube figure{
    display:block;
    margin:0 0 0;
}

.cubeBorders figure{
    border:2px solid #5a5856;
    line-height:55px;
    color:#bdb7ac;
    margin:0 0 15px;
    background-color:#323335
}

#cube.panels-backface-invisible figure{
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden
}

#cube .m1{
    -webkit-transform:rotateY(0) translateZ(250px);
    -moz-transform:rotateY(0) translateZ(250px);
    -o-transform:rotateY(0) translateZ(250px);
    transform:rotateY(0) translateZ(250px)
}

#cube .m2{
    -webkit-transform:rotateY(90deg) translateZ(250px);
    -moz-transform:rotateY(90deg) translateZ(250px);
    -o-transform:rotateY(90deg) translateZ(250px);
    transform:rotateY(90deg) translateZ(250px)
}

#cube .m3{
    -webkit-transform:rotateY(180deg) translateZ(250px);
    -moz-transform:rotateY(180deg) translateZ(250px);
    -o-transform:rotateY(180deg) translateZ(250px);
    transform:rotateY(180deg) translateZ(250px)
}

#cube .m4{
    -webkit-transform:rotateY(270deg) translateZ(250px);
    -moz-transform:rotateY(270deg) translateZ(250px);
    -o-transform:rotateY(270deg) translateZ(250px);
    transform:rotateY(270deg) translateZ(250px)
}

#redSlider .md-thumb:after, #redSlider .md-track-fill{
    background-color: red !important;
    border-color: red !important;
}
#redSlider .md-focus-thumb, #redSlider .md-focus-ring{
    background-color: red;
}

#greenSlider .md-thumb:after, #greenSlider .md-track-fill{
    background-color: green !important;
    border-color: green !important;
}
#greenSlider .md-focus-thumb, #greenSlider .md-focus-ring{
    background-color: green;
}

#blueSlider .md-thumb:after, #blueSlider .md-track-fill{
    background-color: blue !important;
    border-color: blue !important;
}
#blueSlider .md-focus-thumb, #blueSlider .md-focus-ring{
    background-color: blue;
}