body{
    /* background-color: #222222; */
    color: #e2e2e2;
}


body.md-toast-animating{ overflow: visible!important }

.three {
    width:  100%;
    height: 50%;
    margin: 0 auto;
    position: relative;
}
.three canvas{
    width:  100% !important;
}

.three .fullscreenBtn{
    position: absolute;
    top: 10px;
    right: 30px;
    width: 60px;
    height: 60px;
}
.three .fullscreenBtn md-icon{
    width: 48px;
    height: 48px;
}

.saturate{
    filter: saturate(3);
}

.itemBox{
    background-color: #28292b;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    height: 79px;
    border:2px solid #5a5856;
    fill: currentColor!important;
}

.itemBox .saturate{
    position: relative;
    cursor: grab;
    height: 50px;
    width: 50px;
    z-index: 60;
}

/* .checkerPattern{
    fill: currentColor;
}
.blankPattern{
    fill: currentColor;
} */

.customBox{
    background-color: #28292b;
    height: 200px;
    width: 200px;
}

.customBox canvas{
    border:2px solid #5a5856;
    border-style: dashed;
}

.cubeContainer{
    width:120px;
    height:55px;
    position:relative;
    margin:0 auto 10px;
    -webkit-perspective:1200px;
    -moz-perspective:1200px;
    -o-perspective:1200px;
    perspective:1200px
}

#cube,#cube figure{
    position:absolute;
    height:100%;
    width:100%
}
#cube figure{
    font-size:14px;
    text-align:center;
}

#cube{
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-transition:-webkit-transform 1s;
    -moz-transition:-moz-transform 1s;
    -o-transition:-o-transform 1s;
    transition:transform 1s
}

#cube figure{
    display:block;
    border:2px solid #5a5856;
    line-height:55px;
    color:#bdb7ac;
    margin:0 0 15px;
    background-color:#28292b
}

#cube.panels-backface-invisible figure{
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden
}

#cube .m1{
    -webkit-transform:rotateY(0) translateZ(60px);
    -moz-transform:rotateY(0) translateZ(60px);
    -o-transform:rotateY(0) translateZ(60px);
    transform:rotateY(0) translateZ(60px)
}

#cube .m2{
    -webkit-transform:rotateY(90deg) translateZ(60px);
    -moz-transform:rotateY(90deg) translateZ(60px);
    -o-transform:rotateY(90deg) translateZ(60px);
    transform:rotateY(90deg) translateZ(60px)
}

#cube .m3{
    -webkit-transform:rotateY(180deg) translateZ(60px);
    -moz-transform:rotateY(180deg) translateZ(60px);
    -o-transform:rotateY(180deg) translateZ(60px);
    transform:rotateY(180deg) translateZ(60px)
}

#cube .m4{
    -webkit-transform:rotateY(270deg) translateZ(60px);
    -moz-transform:rotateY(270deg) translateZ(60px);
    -o-transform:rotateY(270deg) translateZ(60px);
    transform:rotateY(270deg) translateZ(60px)
}
